{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
        <table class="table table-bordered table-hover table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"># of works</th>
                </tr>
            </thead>
            <tbody>
            {% for author in authors.items %}
                <tr>
                    <th scope="row">{{ author.id }}</th>
                    <td>
                        <a class="link-light" href="{{ url_for('author_overview', id=author.id) }}">
                        {{author.name}}
                        </a>
                    </td>
                    <td>{{author.manga|length}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% with elements=authors, element_url=url_for('authors') %}
        {% include "pagination.html" %}
    {% endwith %}
{% endblock %}