{% extends "base.html" %}

{% import 'pagination.html' as pagination %}

{% block content %}
    <div class="row text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><strong>{{ manga.title }}</strong></li>
            <li class="list-inline-item"><a href="{{ url_for('author_overview', id=manga_author.id) }}"> {{ manga_author.name }} </a></li>
        </ul>
    </div>

    {% with images=manga_images.items %}
        {% include "manga_images.html" %}
    {% endwith %}

    {{ pagination.render_pagination(manga_images, url_for('manga_overview', id=manga.id)) }}
{% endblock %}