<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-3">
            {% for image in images %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <a href="{{ url_for('manga_page', manga_id=image.manga_id, page_number=loop.index) }}">
                                {% set image_path = "thumbnails" + "/" + manga.dir_name + "/" + image.path|convert_to_thumbnail %}
                                <img class="img-fluid" style="filter: blur(100px)" src="{{ url_for('static', filename=image_path) }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>