{% extends "base.html" %}

{% import 'pagination.html' as pagination %}

{% block content %}
    <div class="row text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><strong>{{ manga.title }}</strong></li>
            <li class="list-inline-item"><a href="{{ url_for('author_overview', id=manga_author.id) }}"> {{ manga_author.name }} </a></li>
        </ul>
    </div>

    {% with images=manga_images.items, current_page=manga_images.page %}
        {% include "manga_images.html" %}
    {% endwith %}

    {{ pagination.render_pagination(manga_images, url_for('manga_overview', id=manga.id) + "/") }}
{% endblock %}

{% block additional_element %}
    <div class="row">
        <div class="col">
            <button 
            class="btn btn-primary mb-2 btn-lg h-100 w-100" 
            onclick="showSpoilers()" id="show-spoilers-button">
                <div class="row">
                    <span class="text-center">Show spoilers</span>
                </div>
                <div class="row">
                    <i class="fas fa-eye"></i>
                </div>
            </button>
        </div>
        <div class="col">
            <button onclick="hideSpoilers()" id="hide-spoilers-button"
            class="btn btn-primary mb-2 btn-lg h-100 w-100">
                <div class="row">
                    <span class="text-center">Hide spoilers</span>
                </div>
                <div class="row">
                    <i class="fas fa-eye-slash"></i>
                </div>
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function handleBlur(method) {
        let images = document.getElementsByClassName("spoiler-image");

        if (method === 'remove') {
            for (let image of images) { image.classList.remove('blur-image'); }
        } else if (method === 'add') {
            for (let image of images) { image.classList.add('blur-image'); }
        }
    }

    function showSpoilers() {
        handleBlur('remove');

        let hideButton = document.getElementById("hide-spoilers-button");

        if (hideButton.classList.contains('disabled')) {
            hideButton.classList.remove('disabled');
        }

        let showButton = document.getElementById("show-spoilers-button").classList.add('disabled');

        localStorage.setItem('spoilers', 'show');
    }

    function hideSpoilers() {
        handleBlur('add');

        let showButton = document.getElementById("show-spoilers-button");

        if (showButton.classList.contains('disabled')) {
            showButton.classList.remove('disabled');
        }

        document.getElementById("hide-spoilers-button").classList.add('disabled');

        localStorage.setItem('spoilers', 'hide');
    }

    $(document).ready(function () {
        let spoilers = localStorage.getItem('spoilers');

        switch (spoilers) {
            case 'show':
                document.getElementById('show-spoilers-button').classList.add('disabled');
                break;
            case 'hide':
                document.getElementById('hide-spoilers-button').classList.add('disabled');

                handleBlur('add');
                break;
            default:
                hideSpoilers();
                break;
        }
    });
</script>
{% endblock %}