{% extends "base.html" %}

{% block content %}

    <div class="row text-center mx-auto">
        <ul class="list-inline">
            <li class="list-inline-item"><strong>{{ manga.title }}</strong></li>
        </ul>
    </div>

    {% set image_path = "mangas" + "/" + manga.dir_name + "/" + image.path %}

    <img 
    class="img-responsive mx-auto d-block" id="current_img"
    src="{{ url_for('static', filename=image_path) }}" />

    {% set target_url = url_for('manga_overview', id=manga.id)%}
        {% with elements=manga_images, element_url=target_url %}
        {% include "pagination.html" %}
    {% endwith %}

    <script>
        document.getElementById('current_img').onclick = function clickEvent(e) {
            let rect = e.target.getBoundingClientRect();
            let x = e.clientX - rect.left;

            if (x < rect.width / 2) {
                moveToPrev();
            } else if (x > rect.width /2) {
                moveToNext();
            }
        }
    </script>
{% endblock %}