{% set current_page = request.path %}
<div class="list-group mb-3">
  <a class="list-group-item list-group-item-action mt-3 {% if current_page == "/" %}active{% endif %}" 
  href="{{ url_for('home') }}">
    Home
  </a>
  <a class="list-group-item list-group-item-action {% if current_page == "/authors" %}active{% endif %}" 
  href="{{ url_for('authors') }}">
    Authors
  </a>
  <a class="list-group-item list-group-item-action {% if current_page == "/mangas" %}active{% endif %}" 
  href="{{ url_for('mangas') }}">
      Mangas
  </a>
  <a class="list-group-item list-group-item-action {% if current_page == "/scan" %}active{% endif %}" 
  href="{{ url_for('scan') }}">
      Scan directory
  </a>
</div>

<div class="row">
  <form action="{{ url_for('search') }}" method="GET">
    <div class="col px-0 mx-0">
      <input class="form-control" type="text" name="query" id="query" placeholder="Search..">
    </div>
    <div class="col px-0 mx-0">
      <button type="submit" class="btn btn-primary btn-square w-100"><i class="fa fa-search fa-lg"></i></button>
    </div>
  </form>
</div>