{% set first_page_url = element_url + "/" + 1|string %}
{% set last_page_url = element_url + "/" + elements.pages|string %}

{% if elements.prev_num != None %}
    {% set prev_page_url = element_url + "/" + elements.prev_num|string %}
{% else %}
    {% set prev_page_url = "#" %}
{% endif %}

{% if elements.next_num != None %}
    {% set next_page_url = element_url + "/" + elements.next_num|string %}
{% else %}
    {% set next_page_url = "#" %}
{% endif %}

<ul class="pagination pagination-lg justify-content-center mt-3">
    <li class="page-item {% if elements.has_prev == False %} disabled {% endif %}">
        <a href="{{ first_page_url }}" class="page-link">
            <span>First page</span>
        </a>
    </li>
    <li class="page-item {% if elements.has_prev == False %} disabled {% endif %}">
        <a class="page-link" href="{{ prev_page_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
        </a>
    </li>
    {% if elements.pages <= 10 %}
        {% for page_number in range(elements.pages) %}
            <li class="page-item {% if elements.page == loop.index %} active {% endif %}">
                <a class="page-link" 
                    href="{{ element_url }}/{{loop.index}}">
                    {{ loop.index }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% if elements.prev_num != None %}
            <li class="page-item">
                <a class="page-link" 
                    href="{{ element_url }}/{{ elements.prev_num }}">
                    {{ elements.prev_num }}
                </a>
            </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" 
                href="{{ element_url }}/{{ elements.page }}">
                {{ elements.page }}
            </a>
        </li>   

        {% if elements.next_num != None %}
            <li class="page-item">
                <a class="page-link" 
                    href="{{ element_url }}/{{ elements.next_num }}">
                    {{ elements.next_num }}
                </a>
            </li>
        {% endif %}
    {% endif%}
    <li class="page-item {% if elements.has_next == False %} disabled {% endif %}">
        <a class="page-link" href="{{ next_page_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        </a>
    </li>
    <li class="page-item {% if elements.has_next == False %} disabled {% endif %}">
        <a href="{{ last_page_url }}" class="page-link">
            <span>Last page</span>
        </a>
    </li>
</ul>


{% block scripts %}
<script>
document.onkeydown = checkKey;

function checkKey(e) {
    e = e || window.event;

    if (e.keyCode == '37') {
        moveToPrev();
    }
    else if (e.keyCode == '39') {
        moveToNext();
    }

}

function moveToNext() {
    window.location.href = "{{ next_page_url }}";
}

function moveToPrev() {
    window.location.href = "{{ prev_page_url }}";
}
</script>
{% endblock %}